[
  (
    entity: 1,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -2,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -1,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 3,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 4,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 1,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 5,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 6,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 7,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 8,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 0,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 9,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -4,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 10,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -5,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 11,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -6,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 14,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 21,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 20,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 17,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 18,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 19,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 30,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 31,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 32,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 33,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": -1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 12,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -4,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Snake",
        "struct": {},
      },
    ],
  ),
  (
    entity: 13,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Snake",
        "struct": {},
      },
    ],
  ),
  (
    entity: 22,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 23,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 26,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 27,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 15,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 16,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 24,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 25,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 28,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 29,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
]