[
  (
    entity: 0,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -1,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 1,
          },
          "y": {
            "type": "i32",
            "value": 0,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
]
