[
  (
    entity: 0,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -13,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -12,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 3,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -11,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -10,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 4,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -9,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 8,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -7,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 7,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -8,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 9,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -6,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 5,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -5,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 6,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -4,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 10,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 11,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -2,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 12,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 14,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 16,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 15,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 17,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -1,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 19,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 18,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 13,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 1,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 25,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 29,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -13,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 30,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -13,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 31,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -12,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 32,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -11,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 33,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -10,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 34,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -9,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 35,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -8,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 36,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 37,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 38,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 39,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 40,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 41,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 8,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 44,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 9,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 43,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 8,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 42,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 8,
          },
          "y": {
            "type": "i32",
            "value": 4,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 45,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 9,
          },
          "y": {
            "type": "i32",
            "value": 4,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 46,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 10,
          },
          "y": {
            "type": "i32",
            "value": 4,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 50,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 11,
          },
          "y": {
            "type": "i32",
            "value": 4,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 51,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 11,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 52,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 11,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 53,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 11,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 54,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 10,
          },
          "y": {
            "type": "i32",
            "value": 1,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 56,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 55,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 1,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 57,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 59,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 61,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -5,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 60,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -4,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 62,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -6,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 63,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -7,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 58,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -2,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 64,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -1,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Ground",
        "struct": {},
      },
    ],
  ),
  (
    entity: 20,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Snake",
        "struct": {},
      },
    ],
  ),
  (
    entity: 21,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -2,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Snake",
        "struct": {},
      },
    ],
  ),
  (
    entity: 22,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 23,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 24,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 7,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Poison",
        "struct": {},
      },
    ],
  ),
  (
    entity: 26,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -8,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 27,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -10,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 28,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -12,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 47,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 9,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 48,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 10,
          },
          "y": {
            "type": "i32",
            "value": 2,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
  (
    entity: 49,
    components: [
      {
        "type": "taileater::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 10,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "taileater::Food",
        "struct": {},
      },
    ],
  ),
]